<header class="header" role="banner">
  <section class="top-bar wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    {% if page_paths %}
    <nav class="main-nav">
      {% for path in page_paths %}
      {% assign my_page = site.pages | where: "path", path | first %}
      {% if my_page.title %}
      <a class="main-nav__item" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
      {% endif %}
      {% endfor %}
    </nav>
    {% endif %}
  </section>
  <section class="intro">
    <p class="intro__text">Howdy! My name is</p>
    <h1 class="intro__name">Cristian Casais</h1>
    <p class="intro__text">and I'm a Frontend Engineer</p>
    <a class="intro__contact" href="mailto:casais@outlook.com">Get in touch</a>
  </section>
  <a class="scroll-down js-learn-more">
    <p class="scroll-down__text">Learn more</p>
    <i class="scroll-down__icon material-icons" aria-hidden="true">expand_more</i>
  </a>
</header>