.header {
  height: 100vh;
  border: none;
  background: $primary-color;  // fallback for old browsers
  background: -webkit-linear-gradient($header-gradient-angle, rgba($accent-color, $header-gradient-opacity),
          rgba($primary-color, $header-gradient-opacity)), url($header-image-url) no-repeat center center fixed;
  background: linear-gradient($header-gradient-angle, rgba($accent-color, $header-gradient-opacity),
          rgba($primary-color, $header-gradient-opacity)), url($header-image-url) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: white;
}

.header__bar {
  text-align: left;
  padding-top: 10px;
}

.header__title,
.header__title:visited,
.site-nav .page-link,
.intro__social i.fa,
.intro__contact {
  cursor: pointer;
  color: white;
  opacity: .65;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.header__logo {
  height: $header-bar-height;
}

.site-nav {
  line-height: $header-bar-height;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-size: 27px;
  text-align: center;
  opacity: .95;

  @include media-query($on-mobile) {
    font-size: 22px;
  }
}

.intro__name {
  font-size: 70px;
  line-height: 1.21;
  font-family: $lato;
  text-transform: uppercase;
  font-weight: 700;
  @include media-query($on-mobile) {
    font-size: 50px;
  }
}

.intro__text {
  font-family: $zilla-slab;
}

.intro__contact {
  display: inline-block;
  font-family: $lato;
  border-radius: 50px;
  font-size: 16px;
  margin: 30px 0;
  border: solid white 2px;
  padding: 10px 25px;
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.intro__social {
  font-size: 20px;

  a:hover {
    text-decoration: none;
  }

  i.fa {
    margin: 0 5px;
  }
}

.scroll-down {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 10px;
  width: 30px;
  opacity: .9;
}