main h2 {
  position: relative;
  display: inline-block;
  font-size: 28px;
  left: -1px;
  color: $primary-color;  // fallback for old browsers
  background: linear-gradient($home-gradient-angle, $home-gradient-color-left, $home-gradient-color-right);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main p,
main ul {
  text-align: justify;
  color: $grey-color;
  font-size: 15px;
  line-height: 1.7;
}

main ul li {
  margin-bottom: 5px;
}

main hr {
  height: 2px;
  border: none;
  margin: 30px 0;
  background: $primary-color;  // fallback for old browsers
  background: -webkit-linear-gradient($home-gradient-angle, $home-gradient-color-left, $home-gradient-color-right);
  background: linear-gradient($home-gradient-angle, $home-gradient-color-left, $home-gradient-color-right);
}

.experience__entry {
  position: relative;
}

.experience__title {
  margin-bottom: 0;
  font-weight: 500;
}

.experience__date-range {
  font-size: 14px;
  color: $grey-color-dark;
  margin-top: 4px;
}

.experience__company {
  color: $grey-color;
  font-weight: 400;
}

.experience__logo {
  height: 35px;
  opacity: .7;
  position: absolute;
  top: 6px;
  right: 0;

  @include media-query($on-palm) {
    display: none;
  }
}

.experience__logo--newtec {
  height: 25px;
  top: 9px;
}