// Fonts
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$lato: 'Lato', sans-serif;
$zilla-slab: 'Zilla Slab', serif;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

// Spacing, containers and breakpoints
$spacing-unit: 30px !default;
$content-width: 800px !default;
$on-mobile: 400px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;

// Colors
$primary-color: #82add6;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-darker: darken($primary-color, 20%);
$accent-color: #b06ab3;
$brand-color: $primary-color !default;
$text-color: #111 !default;
$background-color: #eee !default;
$grey-color: #6b6b6b !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: #333 !default;
$grey-color-darker: #1c1c1c !default;

// Header
$header-image-url: '/images/header-bg.jpg';
$header-gradient-opacity: .85;
$header-gradient-angle: 180deg;
$header-bar-height: 50px;

// Home
$home-gradient-angle: 150deg;
$home-gradient-color-left: $accent-color;
$home-gradient-color-right: $primary-color-dark;
