---
layout: default
---

<section id="experience" class="experience">
  <h2>Experience</h2>
  <article class="experience__entry">
    <h3 class="experience__title">Frontend Lead <span class="experience__company">at EmpathyBroker</span></h3>
    <h4 class="experience__date-range">Oct 2017 – Present</h4>
    <img class="experience__logo" src="{{ '/images/empathy-broker.svg' | relative_url }}" alt="EmpathyBroker">
    <p>As a Frontend Lead, I manage an agile team of frontend engineers and help them in the quest of evolving EmpathyBroker's Search and Data products according to business needs.</p>
    <p>My day to day consists of:</p>
    <ul>
      <li>Discussing priorities, product requirements and technical viability with Product Managers</li>
      <li>Participating in code (and documentation) reviews and providing feedback to the team</li>
      <li>Collaborating very tightly with other related areas such as UX and Design</li>
      <li>Designing, implementing, testing and documenting new product features and workflows</li>
      <li>Mentoring junior developers and helping to grow their skill sets and foster curiosity</li>
      <li>Screening resumes, interviewing candidates and on-boarding new hires</li>
    </ul>
    <p>The technologies my team and I use the most are Angular, Redux, D3.js, TypeScript, ES6, Sass, Karma, Jasmine, Protractor and npm.</p>
  </article>
  <article class="experience__entry">
    <h3 class="experience__title">Project Lead <span class="experience__company">at EmpathyBroker</span></h3>
    <h4 class="experience__date-range">Jan 2017 – Sep 2017</h4>
    <img class="experience__logo" src="{{ '/images/empathy-broker.svg' | relative_url }}" alt="EmpathyBroker">
    <p>Lead of Layer, the frontend component of EmpathyBroker's Search product, used by many e-commerces such as Zara, Mango, Media Markt, Tous, Imaginarium or Pepe Jeans.</p>
    <p>Besides conceptualizing and developing new features, I was responsible for the architecture design, scope management, planning and synchronizing with other product areas and management.</p>
    <p>Tech stack: AngularJS, Less, Karma, Jasmine, Grunt, Bower and npm.</p>
  </article>
  <article class="experience__entry">
    <h3 class="experience__title">Frontend Engineer <span class="experience__company">at EmpathyBroker</span></h3>
    <h4 class="experience__date-range">Jun 2016 – Dec 2016</h4>
    <img class="experience__logo" src="{{ '/images/empathy-broker.svg' | relative_url }}" alt="EmpathyBroker">
    <p>In my first months at EmpathyBroker I was responsible for the following tasks:<p>
    <ul>
      <li>Refactoring legacy code and developing new features on several projects with AngularJS</li>
      <li>Designing and developing interactive data visualizations using D3.js and ES6</li>
      <li>Setting up fresh EmpathyBroker instances for new clients</li>
      <li>Providing support to our client base</li>
    </ul>
  </article>
  <article class="experience__entry">
    <h3 class="experience__title">Full Stack Engineer <span class="experience__company">at Newtec Microsistemas</span></h3>
    <h4 class="experience__date-range">Jun 2015 – May 2016</h4>
    <img class="experience__logo experience__logo--newtec" src="{{ '/images/newtec.png' | relative_url }}" alt="Newtec Microsistemas">
    <p>Development of a variety of web applications for small and medium clients, using technologies like AngularJS, jQuery, Sass, Bootstrap, Spring, Symfony, Django, Wordpress, OAuth, MySQL or MongoDB. I was also involved in the development of Newtec Pay, a platform for selling tickets to events via Twitter.</p>
  </article>
  <article class="experience__entry">
    <h3 class="experience__title">Web Developer <span class="experience__company">at Fisioempresas</span></h3>
    <h4 class="experience__date-range">Aug 2014 – Jan 2015</h4>
    <img class="experience__logo" src="{{ '/images/fisioempresas.png' | relative_url }}" alt="Fisioempresas">
    <p>Development of an appointment scheduling system for therapy and health services. This web application transformed a manual process (using Google Calendar) into a fully automated management. This was my first contact with web development and I used plain HTML, CSS, JavaScript, PHP and MySQL.</p>
  </article>
</section>
