---
layout: default
---

<section class="experience">
  <h2>Experience</h2>
  <article class="experience__entry">
    <h3 class="experience__title">Lead of Layer <span class="experience__company">at EmpathyBroker</span></h3>
    <h4 class="experience__date-range">Jan 2017 – Present</h4>
    <img class="experience__logo" src="{{ "/images/empathy-broker.svg" | relative_url }}" alt="EmpathyBroker">
    <p>Lead developer of Layer, the front end component of EmpathyBroker's site search, used by many e-commerces such as Media Markt, Imaginarium or Pepe Jeans.</p>
    <p>Besides conceptualizing and developing new features, I am responsible for the architecture design, scope management, planning, interviewing, mentoring new hires and synchronizing with other product areas and management.</p>
    <p>Tech stack: AngularJS (1.5), Karma, Jasmine, Less, Grunt, Bower and npm</p>
  </article>
  <hr>
  <article class="experience__entry">
    <h3 class="experience__title">Front End Engineer <span class="experience__company">at EmpathyBroker</span></h3>
    <h4 class="experience__date-range">Jun 2016 – Dec 2016</h4>
    <img class="experience__logo" src="{{ "/images/empathy-broker.svg" | relative_url }}" alt="EmpathyBroker">
    <p>In my first months at EmpathyBroker I was responsible for the following tasks:<p>
    <ul>
      <li>Refactoring legacy code and developing new features for Layer</li>
      <li>Designing and developing interactive data visualizations for our dashboard using D3.js</li>
      <li>Setting up fresh EmpathyBroker instances for new clients</li>
      <li>Providing support to our client base</li>
    </ul>
  </article>
  <hr>
  <article class="experience__entry">
    <h3 class="experience__title">Full Stack Engineer <span class="experience__company">at Newtec Microsistemas</span></h3>
    <h4 class="experience__date-range">Jun 2015 – May 2016</h4>
    <img class="experience__logo experience__logo--newtec" src="{{ "/images/newtec.png" | relative_url }}" alt="Newtec Microsistemas">
    <p>Development of a variety of web applications for small and medium clients, using technologies like AngularJS, jQuery, Sass, Bootstrap, Spring, Symfony, Django, Wordpress, OAuth, MySQL or MongoDB. I was also involved in the development of Newtec Pay, a platform for selling tickets to events via Twitter.</p>
  </article>
  <hr>
  <article class="experience__entry">
    <h3 class="experience__title">Web Developer <span class="experience__company">at Fisioempresas</span></h3>
    <h4 class="experience__date-range">Aug 2014 – Jan 2015</h4>
    <img class="experience__logo" src="{{ "/images/fisioempresas.png" | relative_url }}" alt="Fisioempresas">
    <p>Development of an appointment scheduling system for therapy and health services. This web application transformed a manual process (using Google Calendar) into a fully automated management. This was my first contact with web development and I used plain HTML, CSS, JavaScript, PHP and MySQL.</p>
  </article>
</section>

<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
-->